<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chenls.orderdishes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- <instrumentation -->
    <!-- android:name="android.test.InstrumentationTestRunner" -->
    <!-- android:label="test" -->
    <!-- android:targetPackage="chenls.orderdishes" /> -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <uses-library android:name="android.test.runner" /> -->


        <!-- 蒲公英ID -->
        <meta-data
            android:name="PGYER_APPID"
            android:value="2c5d5ca0099565ecec8359f585d43782" />

        <!-- bmob支付相关 开始 -->


        <!-- suppress AndroidDomInspection -->
        <activity
            android:name="c.b.a.A"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- suppress AndroidDomInspection -->
        <activity
            android:name="c.b.a.B"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />

        <!-- bmob支付相关 结束 -->
        <activity
            android:name=".activity.WelcomeActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DishDetailActivity"
            android:label="@string/dish_detail_activity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.AckOrderActivity"
            android:label="@string/ack_order_activity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DishDetailActivity" />
        </activity>
        <activity
            android:name=".activity.ConsigneeAddressActivity"
            android:label="@string/consignee_address">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AckOrderActivity" />
        </activity>
        <activity
            android:name=".activity.OrderMarkActivity"
            android:label="@string/order_mark" />
        <activity
            android:name=".activity.PlayCashActivity"
            android:label="@string/online_pay">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AckOrderActivity" />
        </activity>
        <activity
            android:name=".activity.SetInformationActivity"
            android:label="@string/set_information" />
        <activity
            android:name=".activity.CommentActivity"
            android:label="@string/add_comment" />
        <activity
            android:name=".activity.ChooseCommentDishActivity"
            android:label="@string/choose_dish"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DishDetailActivity" />
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:label="@string/search">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
    </application>

</manifest>