<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chenls.orderdishes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OrderDishActivity"
            android:label="@string/order_dish_activity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.DishDetailActivity"
            android:label="@string/dish_detail_activity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.OrderDishActivity" />
        </activity>
        <activity
            android:name=".activity.AckOrderActivity"
            android:label="@string/ack_order_activity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DishDetailActivity" />
        </activity>
        <activity
            android:name=".activity.ConsigneeAddressActivity"
            android:label="@string/consignee_address">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AckOrderActivity" />
        </activity>
        <activity
            android:name=".activity.OrderMarkActivity"
            android:label="@string/order_mark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AckOrderActivity" />
        </activity>
    </application>

</manifest>
